@use "sass:color";
@use "sass:map";

/* General*/
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;

  .logo img {
    height: 40px;
  }

  .search-bar {
    display: flex;
    align-items: center;
    background: #f5f5f5;
    border-radius: 20px;
    padding: 5px 15px;
    flex-grow: 1;
    max-width: 300px;
    margin-left: auto;

    input {
      border: none;
      background: none;
      outline: none;
      padding: 5px;
      font-size: 14px;
      width: 100%;
      min-width: 120px;
    }

    button {
      border: none;
      background: none;
      cursor: pointer;

      img {
        width: 18px;
        height: 18px;
      }
    }
  }

  .user-info {
    display: flex;
    align-items: center;
    margin-left: 20px;

    .user-avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }

    .user-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-family: "Poppins", sans-serif;

      p {
        font-size: 10px;
        color: #777;
        margin: 0;
      }

      span {
        font-size: 14px;
        font-weight: bold;
      }
    }
  }

  @media (max-width: 768px) {
    .search-bar {
      max-width: 100%;
      flex-grow: 1;
    }

    .user-info {
      margin-left: 10px;
    }
  }

  @media (max-width: 480px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;

    .search-bar {
      width: 100%;
      margin: 10px 0;
    }

    .user-info {
      flex-direction: column;
      align-items: center;
      margin-left: 0;

      .user-avatar {
        margin-bottom: 5px;
      }
    }
  }
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-content {
    position: relative;
    background: white;
    padding: 25px;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

    .close {
      position: absolute;
      top: -12px;
      right: -12px;
      width: 30px;
      height: 30px;
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .close:hover {
      background-color: rgba(0, 0, 0, 1);
    }

    .modal-image {
      max-width: 100%;
      border-radius: 10px;
      margin-bottom: 15px;
    }

    h2 {
      font-size: 14px;
      color: #333;
      padding: 8px 0 8px 0;
      text-transform: uppercase;
    }

    p {
      font-size: 10px;
      color: #666;
    }

    .btn {
      display: inline-block;
      padding: 10px 14px;
      background: #0095f6;
      color: white;
      text-decoration: none;
      border-radius: 5px;
      font-weight: bold;
      font-size: 14px;
      margin-top: 10px;
      transition: background 0.3s ease;
    }

    .btn:hover {
      background: #007acc;
    }
  }
}

/* Cursos Modal */
#curso-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-curso-content {
    position: relative;
    background: white;
    padding: 25px;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    text-align: left;
    font-family: "Poppins", sans-serif;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

    h2 {
      font-size: 14px;
      color: #333;
    }

    label {
      display: block;
      font-weight: bold;
      margin: 10px 0 5px;
      font-size: 10px;
    }

    input,
    textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .modal-actions {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
    }

    .btn-curso {
      background: #0095f6;
      color: white;
      border: none;
      padding: 12px 20px;
      cursor: pointer;
      border-radius: 5px;
      font-size: 10px;
      transition: background 0.3s ease;
    }

    .btn-curso:hover {
      background: #007acc;
    }

    .btn-danger {
      background: red;
      color: white;
      border: none;
      padding: 12px 20px;
      cursor: pointer;
      border-radius: 5px;
      font-size: 10px;
      transition: background 0.3s ease;
    }

    .btn-danger:hover {
      background: darkred;
    }
  }

  .close-curso {
    position: absolute;
    top: -12px;
    right: -12px;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .close-curso:hover {
    background-color: rgba(0, 0, 0, 1);
  }
}

/* Main */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.curso {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 15px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-family: "Poppins", sans-serif;

  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  h2 {
    font-size: 12px;
    color: #666;
    flex-grow: 1;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 3px;
  }

  p {
    font-size: 8px;
    color: #666;
    flex-grow: 1;
    text-align: justify;
    text-justify: inter-word;
    padding-bottom: 5px;
  }

  .btn-curso {
    margin-top: auto;
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10px;
    padding: 10px 5px;
    background: #28a745;
    color: white;
    border-radius: 5px;
    font-weight: bold;
  }

  &:hover {
    transform: translateY(-5px);
  }
}

.add-curso {
  border: 2px dashed #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  cursor: pointer;

  img {
    width: 50px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-top: 60px;
  }

  h2 {
    font-size: 14px;
    color: #9e9e9e;
    text-align: center;
  }

  &:hover {
    background: #f9f9f9;
  }
}

@media (max-width: 600px) {
  .add-curso {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
  }
  .add-curso img {
    padding-top: 20px;
  }
}

/* Footer */

.footer {
  background: #f4f2f2;
  font-family: "Poppins", sans-serif;
  padding: 20px 0 0;
  color: #666;
  margin-top: auto;
  justify-content: space-between;
  min-height: 150px;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 6px;

    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
  }

  &__logo {
    max-width: 500px;

    img {
      max-width: 100px;
      height: auto;
      padding-bottom: 5px;
    }
    p {
      font-size: 12px;
      color: #777;
      margin-top: 5px;
    }
  }

  &__contact,
  &__social {
    h3 {
      font-size: 14px;
      font-weight: bold;
      color: #444;
      margin-bottom: 8px;
    }
    p {
      font-size: 12px;
      color: #666;
    }
  }

  &__social {
    .social-icons {
      display: flex;
      gap: 8px;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;

        img {
          width: 100%;
          height: auto;
          display: block;
          padding: 0 8px 8px 0;
        }
      }
    }
  }

  &__copyright {
    text-align: center;
    font-size: 12px;
    color: #888;
    padding: 10px 0;
    background-color: #e0dedc;
    border-top: none !important;
    box-shadow: none !important;
    outline: none;
  }
}
